/*
    Mindful Time Management
*/

body{
    background: lightblue;
    margin:0;
    padding:0;
}


.card{
    background: white;
    box-shadow: 0 2px 5px 0 black;
    margin: 10px;
    padding: 10px;
}





.clockGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . .";
}
.clock{
    height:12vw;
    width:12vw;
    margin:0;
    padding:0;
    background:lightgreen;
}




.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . .";
}


#divSleep .grid{
    display: grid;
    grid-template-columns: 3ch 5ch;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
}


#divWaterIntake .grid{
    display: grid;
    grid-template-columns: 5ch 1fr 5ch;
    grid-template-rows: auto auto;
    gap: 5px 5px;
    grid-template-areas:
        ". . .";
}



textarea{
    width: 95%;
    height: 80%;
    margin:0;
    padding:2%;
}

input[type="text"]{
    width:100%;
}